<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<div class="row  border-bottom white-bg dashboard-header animated fadeInRight">
	<div class="col-sm-4">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5>关于布衣王者</h5>
			</div>
			<div class="ibox-content">
				<p>布衣王者具有以下特点：</p>
				<ol>
					<li>高端定制个性服装。</li>
					<li style="color: red">支持童装、工装、西服、衬衣等</li>
				</ol>
			</div>
		</div>
	</div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="col-sm-2">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5>合作人员列表</h5>
			</div>
			<div class="ibox-content no-padding">
				<ul class="list-group">
					<li class="list-group-item "><span class="badge badge-success">136</span>小明</li>
					<li class="list-group-item "><span class="badge badge-success">70</span>小张</li>
				</ul>
			</div>
		</div>
	</div>
</div>
</html>
